<% if logged_in? %>
    <% if current_user.admin? %>
      <%= render 'admin' %>
    <% else %>
      <%= render 'user' %>
    <% end %>
    
<% else %>
<div class="center jumbotron" id="background_image">
  <h1>Welcome to Rentalcars DaNang</h1>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<div >
	<h1>Listing Cars</h1>
    <%= form_tag cars_search_path, :method => 'get'  do %>
   	<%= text_field_tag :search, params[:search]%>
    <%= submit_tag "Search" %>
	<% end %>	
	<%= link_to "Advanced Search" , new_search_path %>
</div>
<div class="cars">
   <%= render @cars%>
</div>
<% end %>
