<li>
   <%= link_to car.brand, car %>
   <%= link_to car.model, car %>
   <%= link_to car.seat, car %> 
   <%= link_to car.price, car %> 
   <%= link_to car.about, car %> 
   <%= link_to "Request" , request_new_path %>

</li>